<div>
    <h2>Controle de Acesso</h2>
    <button (click)="selecionarPapel('administrador')">Administrador</button>
    <button (click)="selecionarPapel('colaborador')">Colaborador</button>
    <button (click)="selecionarPapel('usuario')">Usuário</button>

    <div *ngIf="papelSelecionado === 'administrador'">
      <p>Você tem permissão de administrador</p>
    </div>
    <div *ngIf="papelSelecionado === 'colaborador'">
      <p>Você tem permissão de colaborador</p>
    </div>
    <div *ngIf="papelSelecionado === 'usuario'">
      <p>Você tem permissão de usuário</p>
    </div>
  </div>