<h1>Trabalho de Angular Frontend-Frameworks</h1>

<!-- exercicio 1 -->
<!-- app-contador-component></app-contador-component -->

<!-- exercicio 2 e 3 -->
<!-- <app-list-items></app-list-items> -->

<!-- exercicio 4 -->
<!-- <div>
    <app-form-cadastro></app-form-cadastro>
</div> -->

<!-- exercicio 5 -->
<!-- <div>
    <app-controle-acesso></app-controle-acesso>
</div> -->

<!-- exercicio 6 -->
<app-componente-filho [mensagemDoPai]="mensagemDoPai" [itensDoPai]="itensDoPai"></app-componente-filho>

<!-- exercicio 7 -->
<!-- div>
    <h1>Exemplo de Autenticação</h1>
    <app-form-login></app-form-login>
</div -->
