<h1>Trabalho em Angular, Frontend-Frameworks</h1>

<!-- exercicio 1 -->
<!-- <div> app-contador-component></app-contador-component 
</div> -->

<!-- exercicio 2 e 3 -->
<!-- <div> 
    <app-list-items></app-list-items> 
</div> -->

<!-- exercicio 4 -->
<!-- <div>
    <app-form-cadastro></app-form-cadastro>
</div> -->

<!-- exercicio 5 -->
<!-- <div>
    <app-controle-acesso></app-controle-acesso>
</div> -->

<!-- exercicio 6 -->
<!-- <div>
    <app-componente-filho [mensagemDoPai]="mensagemDoPai" [itensDoPai]="itensDoPai"></app-componente-filho> 
</div> -->

<!-- exercicio 7 -->
<!-- <div>
    <h1>Exemplo de Autenticação</h1>
    <app-form-login></app-form-login>
</div -->

<!-- exercicio 8 -->
<div> 
    <app-dados-alunos></app-dados-alunos> 
</div>
