<div *ngIf="!autenticado; else areaLogada">
    <h2>Formulário de Login</h2>
    <form (submit)="fazerLogin()">
      <label for="email">E-mail:</label>
      <input type="email" id="email" [(ngModel)]="email" required>

      <label for="senha">Senha:</label>
      <input type="password" id="senha" [(ngModel)]="senha" required>

      <button type="submit">Fazer Login</button>
    </form>
  </div>

  <ng-template #areaLogada>
    <app-area-logada [email]="email"></app-area-logada>
  </ng-template>